.gamepad_mode_change {

  .mode_change {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.8rem;
    zoom: 1.3;
    grid-template-rows: 120px 120px;
  }
}

.upload_list,
._loading {
  max-width: 100vw !important;
  position: static !important;
  background: rgba(0, 0, 0, .5) !important;
  width: 100vw !important;
  height: 100% !important;
  backdrop-filter: blur(4px) !important;

  .mat-mdc-dialog-surface {
    width: 90vw !important;
    background: transparent !important;
    box-shadow: none !important;
  }
}

.gamepad_reader_circle_toolbar {
  max-width: none !important;
  height: 100%;

  // backdrop-filter: blur(4px);
  .mat-mdc-dialog-surface {
    // border-radius: 50% !important;
    background: transparent !important;

  }
}

.reader_settings_buttom {}

.reader_settings_right {
  .list {
    max-width: 200px !important;
    width: 200px !important;
    min-height: min-content !important;
    padding: 12px;
  }
}

._sponsor_qrcode {

  // background: rgba(0, 0, 0, .5) !important;
  .mat-mdc-dialog-surface {
    background: transparent !important;
    box-shadow: none !important;
    transform: scale(1.2);
  }
}

._sponsor_qrcode_backdrop {
  background: rgba(0, 0, 0, .32);
  backdrop-filter: blur(4px);
}

._gamepad_thumbnail {

  width: 100%;
  height: 100%;
  max-width: none;
  backdrop-filter: blur(4px);

  .mat-mdc-dialog-container .mdc-dialog__surface {
    background: transparent;
    border-radius: 50%;
    box-shadow: none !important;
  }
}

._double_page_thumbnail {
  max-width: none;
  width: 100%;
  height: 100%;
  max-width: none !important;
  // backdrop-filter: blur(4px);

  .mat-mdc-dialog-container .mdc-dialog__surface {
    // background: transparent;
    box-shadow: none !important;
  }
}

._square_thumbnail {
  max-width: none;
  width: 100%;
  height: 100%;
  max-width: none !important;
  // backdrop-filter: blur(4px);

  .mat-mdc-dialog-container .mdc-dialog__surface {
    // background: transparent;
    box-shadow: none !important;
  }
}

._reading_time {
  max-width: none !important;
  position: static;
  margin-left: 10vw;
  height: 100%;
}

._one_page_thumbnail {
  max-width: none;
  width: 100%;
  height: 100%;
  max-width: none !important;
}

._thumbnail_select,
._tool_select {
  .warp {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    // grid-gap: 0.8rem;
    zoom: 1.5;
    // grid-template-rows: 120px 120px;
  }
}

._magnify_overlay {
  width: 100%;
  height: 100%;
  max-width: none !important;

  .mat-mdc-dialog-container .mdc-dialog__surface {
    background: transparent;
  }
}




.gamepad_reader_circle_toolbar {
  max-width: none !important;
  height: 100%;

  .mat-mdc-dialog-surface {
    // border-radius: 50% !important;
    background: transparent !important;
  }
}

._query_mode1 {
  max-width: none;
  width: 100%;
  height: 100%;
  max-width: none !important;

  .mat-mdc-dialog-surface {
    background: transparent !important;
    backdrop-filter: blur(14px) brightness(0.9);
  }
}
