._chapter_prompt {
  .mdc-snackbar__surface {
    // background: rgba(0, 0, 0, .8) !important;
    // backdrop-filter: ;
    min-width: auto !important;

    .mdc-snackbar__label {
      // color: rgba(255, 255, 255, .87) !important;
      padding: 8px !important;
      display: flex;
    }
  }
}

._section {
  .mat-bottom-sheet-container {
    width: 100vw;
  }
}
