.detail_section {
  width: 100%;
  transition: all 0.3s;
  position: relative;

  height: 100%;
  display: flex;
  flex-direction: column;

  // padding-bottom: 12px;

  // margin-top: 2.5vh;
  // margin-bottom: 0.8rem;
}
.detail_section[edit=true]{
  width: calc(100vw - 24px) !important;
  margin-left: 0 !important;
}

.warp {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 0;
  // margin: 12px 0;
  background: #424242;
  padding: 0.4rem;
  overflow: hidden;
  height: 100%;

  .title {
    font-size: 16px;
    padding: 0.4rem;
    padding-bottom: 0;
    color: rgba(255, 255, 255, .87);
  }
}

.detail_section[edit=true] {
  height: 100%;
  width: calc(100vw - 24px);
  margin-left: 12px;

  .warp {
    // height: calc(100% - 5vh - 12px - 40px)
  }

}
.detail_section {
  width: calc(100vw - 224px - 36px - 48px);
  transition: all 0.3s;
  position: relative;
  width: fit-content;
  background: #424242;
  height: 70vh;
  display: flex;
  flex-direction: column;
  // padding-bottom: 12px;

  // margin-top: 2.5vh;
  // margin-bottom: 0.8rem;
}
.list {
  width: 100%;
  // position: absolute;

  // height: 100%;
  // min-width: 560px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  grid-gap: 0.8rem;
  padding: 0.4rem 0;
  overflow: auto;
  width: 360px;
  // margin-top: 12px;

  .item[read=true] {
    .name {
      color: rgba(255, 255, 255, .34);
    }
  }
  .item[current=true] {
    .name {
      color: #c2185b;
    }
  }

  .item {
    // min-width: 100%;
    height: 84px;
    /* text-align: left; */
    display: flex;
    justify-content: left;

    // align-items: center;
    .box {
      display: flex;
      width: 100%;
    }

    .img {
      position: relative;
      width: auto;
      height: 100%;

      // .mezzanine {
      //   position: absolute;
      //   width: 100%;
      //   height: 70px;
      //   background: rgba(0, 0, 0, 0.76);
      //   top: 3px;
      //   left: 0;
      //   transform: translateX(-100%);
      //   transition: all 0.3s;
      // }

      // &:hover {
      //   .mezzanine {
      //     transform: translateX(0%);
      //   }
      // }

      .lock {
        position: absolute;
        bottom: 3px;
        display: flex;
        padding: 3px 0;
        align-items: center;
        width: 100%;
        justify-content: center;
        background: rgba(0, 0, 0, .8);

        .lock_icon {
          width: 14px;
          height: 14px;
          font-size: 14px;
        }
      }
    }

    img {
      width: 120px;
      min-width: 120px;
      height: 70px;
      object-fit: cover;
      margin: 3px 0;
      border-radius: 2px;
    }

    img::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      content: ' ';
      background-size: cover;
      background: #303030;
    }

    .info {
      margin-left: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      padding-top: 0.2rem;
      width: 100%;
    }

    .name {
      font-size: 16px;
      text-align: left;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      color: rgba(255, 255, 255, 0.87);
    }



    .buttom {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .sub_title {
        font-size: 14px;
        color: rgba(255, 255, 255, .34);
      }

      .tool {
        display: flex;
      }

      .like,
      .comments {
        display: flex;
        font-size: 14px;

        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 0.34);

      }

      .like {
        margin-right: 4px;
      }

      .comments {
        margin-right: 12px;
      }
    }



    .checkbox {
      position: absolute;
      left: 0px;
      top: 0px;
      pointer-events: none;
    }
  }

  [multiple=true],
  [content_menu_select=true] {
    // background: ;
    background-color: rgba(255, 255, 255, .1);
  }
}

img {
  position: relative;
}

img::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: ' ';
  background-size: cover;
  background: #303030
}



.abbreviated {
  display: grid;
  padding-top: 4px;
  grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
  grid-template-rows: repeat(100vw, minmax(64px, 1fr));
  gap: 4px;

  [multiple=true],
  [content_menu_select=true] {
    // background: ;
    background-color: rgba(255, 255, 255, .1);
  }

  .item {



    span {
      color: rgba(255, 255, 255, .87);
    }

    span[read=true] {
      color: rgba(255, 255, 255, .34);
    }

    span[current=true] {
      color: rgba(255, 255, 255, .87);
    }
  }
}



:host ::ng-deep {
  .mdc-button .mdc-button__label {
    width: 100%;
  }

  .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    border-radius: 4px;
  }

  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    width: 24px;
    height: 24px;
  }

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 30px;
    background: #3c3c3c;
    padding: 0 12px;
    justify-content: end;
  }


}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 4px;

  // margin-top: 4px;
  .mat-icon {
    height: 18px;
    width: 18px;
    font-size: 18px;
    overflow: hidden;
    border-radius: 4px;
  }

  .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    border-radius: 4px;
  }
}

.item_icon {
  width: 14px;
  height: 14px;
  padding: 0;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 2px;
}

.right,
.left {
  display: flex;
  align-items: center;

  span {
    user-select: none
  }
}

.detail_edit {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  background: #303030;
  border-radius: 4px;
}

.list_mode1 {
  position: relative;
  height: 100%;
}


@media screen and (min-width: 0px) and (max-width: 960px) {
  .detail_section {
    width: calc(100vw - 36px - 36px);
    margin-left: 12px;
  }

  .detail_section[edit=true] {
    width: calc(100vw - 24px);
  }

  .warp {
    height: calc(100% - 48px);
  }
}

@media screen and (min-width: 0px) and (max-width: 960px) {
  .warp {
    .title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
