<div class="list opacity-0" id="one_page_thumbnail_mode2" (mouseenter)="enter()" (mouseleave)="leave()">
  <button
    mat-button
    class="item"
    *ngFor="let n of pages; let index = index"
    [attr._id]="'one_page_thumbnail_mode2_' + index"
    [attr.select]="index == page_index ? true : false"
    [attr.region]="'one_page_thumbnail_mode2'"
    [attr.content_menu_key]="'one_page_thumbnail_mode2'"
    [attr.content_menu_value]="n.id"
    (click)="on(index)"
    [class]="index == page_index ? 'select' : ''"
  >
    <div class="img">
      <!-- [height]="i.height" [width]="i.width"   -->
      <app-image
        loading="lazy"
        [width]="500"
        [height]="706"
        [src]="n.src"
        [alt]="index"
      />
    </div>
    <div class="index">
      <div class="name">{{ index + 1 }}</div>
    </div>
  </button>
</div>
