.list {
  // width: 100%;
  display: grid;
  gap: 0.4rem;
  padding: 0.8rem;
  direction: rtl;
  overflow: auto;
  transition: all 0.3s;

}
.list[page_order=true]{
  direction: ltr;
  .double{
    direction: ltr;
  }
  .single[page=l]{
    direction: rtl;
  }
  .single[page=p]{
    direction: ltr;
  }
  .single[page=p][first=true]{
     direction: rtl;
  }
}

.item {

  height: fit-content;
  padding: 12px;


  .double {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 2px;
    overflow: hidden;
    height: fit-content;
    direction: ltr;
    width: 100%;
    height: 100%;
  }

  .single[page=l] {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 2px;
    overflow: hidden;
    height: fit-content;
    grid-template-columns: 1fr;
    direction: ltr;
    width: 100%;
    height: 100%;
  }

  .single[page=p] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 2px;
    overflow: hidden;
    height: fit-content;
    direction: rtl;
    width: 100%;
    height: 100%;
  }

  .single[page=p][first=true] {
    direction: ltr;
  }

  .img {
    position: relative;
    width: 100%;
    height: 100%;
    img{
      max-width: 100%;
      height: auto;
      width: 100%;
      position: relative;
    }
    img::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      content: ' ';
      background-size: cover;
      background: #303030;
    }
  }

  .index {
    position: absolute;
    right: 4px;
    bottom: 4px;
    background: #fff;
    padding: 0 4px;
    color: #000;
    border-radius: 2px;
    transform: scale(0.8);
  }

}

.warp{
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 480px) and (max-width: 720px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 720px) and (max-width: 960px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 960px) and (max-width: 1240px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1240px) and (max-width: 1440px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1680px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1680px) and (max-width: 3680px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 3680px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

[content_menu_select=true] {
  background-color: rgba(255, 255, 255, .1);
}
:host ::ng-deep {
  .mdc-button__label{
   width: 100%;
   height: 100%;
  }
}
