.warp{
  width: 100vw;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar_bar{
  // display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
}

.top{
  width: 100vw;
  height: 5vh;
  min-height: 44px;
  background: rgba(0, 0, 0, .8);
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s;
  backdrop-filter: blur(4px);
}
.bottom{
  width: 100vw;
  height: 7vh;
  min-height: 56px;
  background: rgba(0, 0, 0, .8);
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  @media screen and (max-width: 480px){
    padding: 0 10px;
  }
}
.content{
  height: 100%;
  width: 100vw;
}
.navbar_bar[opened=true]{

  .top{
    opacity: 1;
    transform: translateY(0%);
  }
  .bottom{
    opacity: 1;
    transform: translateY(0%);
  }
}
.box{
  position: absolute;
  width: 10vw;
  height: 10vw;
  left: calc(50% - 5vw);
  bottom: calc(50% - 5vw);
  z-index: 1;
}
.box[opened=true]{
  display: none;
}

.list{
  display: flex;
  width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 480px) {
      justify-content:left;
      margin-left: 10px;
    }
  .id,.sid,.pid{
     display: flex;
     cursor: pointer;
     opacity: 0.87;
     .title{
      display: inline-block;
      white-space: nowrap;
      max-width: 16vw;
      overflow: hidden;
      text-overflow: ellipsis;

     }
  }
  .item:last-child{
    opacity: 0.34;
  }
  .id{
    opacity: 0.87 !important;
  }
  .arrow{
    margin: 0 5px ;
    opacity: 0.34;
  }
}
.progress{
  max-width: 520px;
  width: 360px;
}

