<mat-drawer-container autosize [hasBackdrop]="false" >

  <mat-drawer [opened]="data.is_menu_opened" (mouseleave)="data.is_menu_opened=false" [mode]="data.menu_mode" class="example-sidenav" mode="side">
    <app-menu></app-menu>
  </mat-drawer>
  <div class="container" (mouseleave)="mouseleave($event)" [attr.is_fixed]="false" [attr.edit]="data.is_edit">
    <!-- <app-menu></app-menu> -->
    <div class="content">
      <app-edit-toolbar></app-edit-toolbar>
      <app-comics-list></app-comics-list>
    </div>
  </div>
</mat-drawer-container>
