.list {
  // width: 100%;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
  // background: #303030;
  border-radius: 4px;
}
.right,
.left {
  display: flex;
  align-items: center;

  span {
    user-select: none
  }
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  padding: 0;
  border-radius: 26px;

  // margin-top: 4px;
  .mat-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
    overflow: hidden;
    border-radius: 4px;
  }


}
:host ::ng-deep {
  .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    border-radius: 4px;
  }
}
