.mat-bottom-sheet-container-large {}

.img {
  border-radius: 0.25rem/* 4px */;
    padding: 8px;
    width: max-content;
}

.select {
    .img {
        background: rgba(255, 255, 255, .1);
        border-radius: 4px;
    }

    .index {
        .name{
           background: #c2185b;
        }
    }
}

[content_menu_select=true] {
  background-color: rgba(255, 255, 255, .1);
}
.warp{
  width: 100%;
  height: 100%;
}
.list {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    overflow:auto;
    max-height: 100%;
    width: 100%;
    justify-content: space-between;

}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    height: auto;
    margin: 0.45rem;
    margin-bottom: 24px;
    app-image{
      border-radius: 0.25rem/* 4px */;
      height: 114px;
      width: auto;
      position: relative;
    }
    // app-image::before {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   display: block;
    //   content: ' ';
    //   background-size: cover;
    //   background: #303030;
    // }
    &:last-child{
      margin-right: auto;
    }
}

.index {
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  border-radius: 0.25rem;
    position: absolute;

    margin-top: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    .name{
      padding-left: 0.175rem;
      padding-right: 0.175rem;
      border-radius: 0.25rem;
    }
}
