.list_mode1 {
  position: relative;
  width: calc(100vw - 200px - 36px - 24px);
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}

.list_mode1[edit=true] {
  width: calc(100vw - 24px);
  margin-left: 12px;
}
.warp{
  padding: 0.6rem;
  padding-top: 0;
  height: 100%;
  overflow: hidden;
}
.grid {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  grid-template-columns: repeat(auto-fill, calc(162px + 2rem));
  justify-content: space-between;
  grid-gap: 0.4rem 0;
  height: 100%;
  width: 100%;
  grid-template-rows: min-content;

  &[size=large] {}

  &[size=small] {
    grid-template-columns: repeat(auto-fill, calc(130px + 1.6rem));
    .item {
      padding: 0.8rem;
      .img {
        height: 184px;
      }
    }
  }

  &[size=middle] {
    grid-template-columns: repeat(auto-fill, calc(144px + 1.8rem));
    .item {
      padding: 0.9rem;
      .img {
        height: 192px;
      }
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    height: auto;
    width: 100%;
    user-select: none;
    height: fit-content;
    // text-align: left;
    // height: min-content;

    .img {
      width: 100%;
      height: 236px;
      display: flex;
      align-items: end;
      overflow: hidden;
      position: relative;

      img {
        border-radius: 2px;
        // height: 100%;
        object-fit: cover;
        object-position: top;
        max-height: 100%;
      }

    }

  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 6px;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, .87);
    width: 100%;
    text-align: left;
    transition: 10s all;
    &:hover{
      color: rgba(255, 255, 255, .87);
    }
  }

  .progress {
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(255, 255, 255, .34);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: left;
  }

  [multiple=true],
  [content_menu_select=true] {
    background-color: rgba(255, 255, 255, .1);
  }

  .checkbox {
    position: absolute;
    right: 0px;
    top: 0px;
    pointer-events: none;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    padding: 0.4rem;

    .item {
      padding: 0.75rem;

      .img {
        // height: fit-content !important;
      }
    }

  }
}


:host ::ng-deep {
  .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    border-radius: 4px;
  }

  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    width: 24px;
    height: 24px;
  }

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 30px;
    background: #3c3c3c;
    padding: 0 12px;
    justify-content: end;
  }

  .mdc-button__label {
    width: 100%;
  }

}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 4px;

  // margin-top: 4px;
  .mat-icon {
    height: 18px;
    width: 18px;
    font-size: 18px;
    overflow: hidden;
    border-radius: 4px;
  }

  .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    border-radius: 4px;
  }
}

.right,
.left {
  display: flex;
  align-items: center;

  span {
    user-select: none
  }
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  .list_mode1[edit=true] {
    width: calc(100vw - 8px);
  }

  .list_mode1 {
    width: calc(100vw - 56px - 8px);
  }
}
