<!-- <app-comics-option></app-comics-option> -->
<app-comics-favorites *ngIf="data.qurye_page_type=='favorites'"></app-comics-favorites>
<app-comics-query-type *ngIf="data.qurye_page_type=='type'"></app-comics-query-type>
<app-comics-update *ngIf="data.qurye_page_type=='update'"></app-comics-update>
<app-comics-ranking *ngIf="data.qurye_page_type=='ranking'"></app-comics-ranking>
<app-comics-home *ngIf="data.qurye_page_type=='home'"></app-comics-home>
<app-comics-cache *ngIf="data.qurye_page_type=='local_cache'"></app-comics-cache>
<app-temporary-file *ngIf="data.qurye_page_type=='temporary_file'"></app-temporary-file>
<app-history *ngIf="data.qurye_page_type=='history'"></app-history>

<div class="warp" (click)="on($event)">
  <div class="grid" id="comics_list" [attr.size]="'middle'" [attr.type]="'list'" [attr.section]="'comics_list'">
    <button
      class="item"
      mat-button
      *ngFor="let n of data.list;let index=index"
      [attr._id]="n.id"
      [attr.index]="index"
      [attr.region]="'comics_item'"
      [attr.select]="n.id==''"
      [matTooltipShowDelay]="3000"
      [matTooltip]="n.title"
      [attr.content_menu_key]="'comics_item'"
      [attr.content_menu_value]="n.id"
      [attr.multiple]="n.selected">
      <div class="img">
        <!-- <img class="w-full" [src]="n.cover"> -->
        <!-- {{n.cover}} -->
        <app-image class="w-full" [src]="n.cover" />
        <div class="mezzanine"></div>
      </div>
      <div class="name">{{n.title}}</div>
      <div class="progress">{{n.subTitle}}</div>
      <mat-checkbox class="checkbox" [color]="'primary'" *ngIf="data.is_edit" [(ngModel)]="n.selected"></mat-checkbox>
    </button>
  </div>
</div>
