
#double_page_reader{
  width: 100vw;
  height: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: 0.1s all;
}
.warp {
  transform: translate(0px, 0px);
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
:host ::ng-deep {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

