<div class="warp" id="download_option">
  <div class="left">
    <div class="title">下载</div>
    <mat-divider style="margin: 4px 0;"></mat-divider>
    <div class="list">
      <div class="item">
        <div class="name">类型</div>
        <div class="select">
          <mat-checkbox *ngFor="let n of types" [(ngModel)]="n.completed"
            (ngModelChange)="typeChange()">{{n.name}}</mat-checkbox>
        </div>
      </div>
      <div class="item">
        <div class="name">页面</div>
        <mat-radio-group [(ngModel)]="option.page">
          <mat-radio-button value="one" style="display: flex;">单页</mat-radio-button>
          <mat-radio-button value="double">双页</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="item" *ngIf="option.page!='one'">
        <div class="name">页面顺序</div>
        <mat-radio-group [(ngModel)]="option.pageOrder">
          <mat-radio-button [value]="true" style="display: flex;">默认</mat-radio-button>
          <mat-radio-button [value]="false">日漫</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="item">
        <div class="name">选项</div>
        <div class="iten">
          <mat-checkbox [(ngModel)]="option.isFirstPageCover" *ngIf="option.page!='one'">第一页封面</mat-checkbox>
          <mat-checkbox [(ngModel)]="option.isOneFile" [disabled]="true">只生成一个文件</mat-checkbox>
        </div>
      </div>
    </div>
    <mat-divider style="margin: 4px 0;"></mat-divider>
    <div class="confirm">
      <button mat-button color="accent">普通下载</button>
      <button mat-raised-button color="primary" (click)="on()">指定下载</button>
    </div>
  </div>
  <div class="right">
    <div class="title">
      漫画 {{list.length}} 本
    </div>
    <div class="grid" [attr.size]="'middle'" [attr.type]="'list'" >
      <button class="item" mat-button *ngFor="let n of list;let index=index" [attr._id]="n.id" [attr.index]="index"
        [attr.region]="'comics_item'" [attr.select]="n.id==''" [matTooltipShowDelay]="3000" [matTooltip]="n.title"
        [attr.multiple]="n.selected">
        <div class="box">
          <div class="img">
            <app-image class="w-full" [src]="n.cover" />
            <div class="mezzanine"></div>
          </div>
          <div class="info">
            <div class="name">{{n.title}}</div>
          </div>
        </div>
      </button>
    </div>
<div class="toolbar">
  <!-- <mat-button-toggle-group si name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">待下载</mat-button-toggle>
    <mat-button-toggle value="italic">下载中</mat-button-toggle>
    <mat-button-toggle value="underline">已完成</mat-button-toggle>
  </mat-button-toggle-group> -->
</div>
  </div>
</div>
