.warp {
  display: flex;
  flex-direction: column;
  // background: #303030;
  border-radius: 4px;
  /* overflow: auto; */
  height: -moz-fit-content;
  height: 95%;
  padding: 0;
  // width: 248px;
  width: 200px;
  margin: 2.5vh 12px;
  padding: 0 12px;
  overflow: hidden;

  .toolabr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  // margin: 24px;
  .img {
    cursor: pointer;
    /* max-height: 200px; */
    margin-right: 12px;
    /* height: 280px; */
    // min-width: 105px;
    width: 200px;
    min-width: 140px;
    overflow: hidden;

&:hover{
img{
  transform: scale(1.05);
}
}
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 2px;
      transition: all 0.3s;
    }
  }

  .info {
    position: relative;

    .title {
      font-size: 24px;
      margin-top: 12px;
      margin-bottom: 12px;
      line-height: 26px;
    }

    .author {
      margin-bottom: 12px;
      color: rgba(255, 255, 255, .34);
    }

    .intro {
      color: rgba(255, 255, 255, .56);
      overflow: auto;
      max-height: 180px;
    }

    .button {
      position: absolute;
      bottom: 0;
    }
  }

}

@media screen and (min-width: 0px) and (max-width: 960px) {
  .warp{
    min-width: 0px;
    display: none;
    width: 0;
  }
}

:host ::ng-deep {
  .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    border-radius: 4px;
  }

  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    width: 36px;
    height: 36px;
  }

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 30px;
    background: #3c3c3c;
    padding: 0 12px;
    justify-content: end;
  }


}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 4px;
  margin-top: 4px;

  .mat-icon {
    height: 22px;
    width: 22px;
    font-size: 22px;
    overflow: hidden;
    border-radius: 4px;
  }

  .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    border-radius: 4px;
  }
}
