:host ::ng-deep {
  .warp{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input_close {
    width: 32px;
    height: 32px;
    padding: 0;

    .mat-icon {
      height: 18px;
      width: 18px;
      font-size: 18px;
    }
  }

  .mdc-line-ripple {
    display: none;
  }

  .mat-mdc-form-field-infix {
    min-height: 32px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

  .swiper-pagination-bullet-active {
    background: rgba(255, 255, 255, .45);

  }
  .swiper{
    overflow: hidden;
    padding-right: 2rem;
  }

  .swiper-pagination {
    // zoom: 1.2;
    // bottom: 5vh;
    // text-align: right;
    // left: inherit;
    // right: 1rem;
    // top: -17px;
    // width: auto;
    // height: auto;
  }

  .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    border-radius: 4px;
  }

  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    width: 24px;
    height: 24px;
  }

  .mdc-text-field {
    border-radius: 4px;
    width: 33vw;

  }

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 30px;
    background: #3c3c3c;
    padding: 0 12px;
    justify-content: end;
  }

  .mdc-button__label {
    width: 100%;
  }

}

.icon_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 4px;
  color:rgba(255, 255, 255, 0.87);
  // margin-top: 4px;
  .mat-icon {
    height: 18px;
    width: 18px;
    font-size: 18px;
    overflow: hidden;
    border-radius: 4px;
  }

  .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    border-radius: 4px;
  }
}
