<div class="page_toolbar" style="display: flex;justify-content: space-between;padding: 0.6rem;">
  <mat-form-field class="example-full-width" appearance="fill">
    <input type="text" matInput [(ngModel)]="keyword">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
    <button *ngIf="keyword" matSuffix mat-icon-button class="input_close" (click)="keyword=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="toolbar" style="display: flex;">
    <button mat-icon-button class="icon_2">
      <mat-icon>bookmarks</mat-icon>
    </button>
    <!-- <button mat-icon-button class="icon_2">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button class="icon_2">
      <mat-icon>chevron_right</mat-icon>
    </button> -->
  </div>
</div>

