<div class="detail_edit" *ngIf="data.is_edit">
  <div class="left">
    <span> {{'已选择'}}({{ selectedLength }}) </span>
    <button
      mat-icon-button
      (click)="selectAll()"
      [attr.select]="true"
      [attr.region]="'detail_toolabr_item'"
      [attr._id]="'select_all'"
      class="icon ml-1"
    >
      <mat-icon>done_all</mat-icon>
    </button>
    <mat-divider
      [vertical]="true"
      style="height: 15px; width: 1px; margin: 0 4px"
    ></mat-divider>
    <button
      mat-icon-button
      [attr.region]="'detail_toolabr_item'"
      [disabled]="selectedLength == 0 ? true : false"
      (click)="openDownload()"
      class="icon"
    >
      <mat-icon>download</mat-icon>
    </button>
    <mat-divider
      [vertical]="true"
      style="height: 15px; width: 1px; margin: 0 4px"
    ></mat-divider>
    <button
      mat-icon-button
      [attr.region]="'detail_toolabr_item'"
      [disabled]="selectedLength == 0 ? true : false"
      (click)="selectedDetele()"
      class="icon"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="right">
    <button
      mat-icon-button
      [attr.region]="'detail_toolabr_item'"
      (click)="closeEdit()"
      class="icon"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
