.title {
  font-size: 14px;
  font-weight: bold;
  /* margin: 0 15px; */
  margin-bottom: 5px;
  -webkit-user-select: none;
  user-select: none;
  height: auto;
  padding: 0 8px 0 8px;
  margin: 4px;
  /* padding: 0; */
  min-width: auto;
  margin-top: 5px;

}

.name {
  font-size: 14px;
  user-select: none;
  color: rgba(255, 255, 255, .87);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 160px;
  text-align: left;
}

.item {
  display: flex;
  margin: 1px 10px;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
  user-select: none;
  width: calc(100% - 20px);
  justify-content: left;
  height: 30px;
  // color: rgba(255, 255, 255, .87);
}
.item1{
  margin-left: 20px;
  width: calc(100% - 30px);
}
// .icon {
//   width: 18px;
//   height: 18px;
//   font-size: 18px;
//   transition: transform 0.1s ease-in-out;
//   transform: scale(1);
//   color: rgba(255, 255, 255, .87);
// }
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 4px;

  // margin-top: 4px;
  .mat-icon {
    height: 18px;
    width: 18px;
    font-size: 18px;
    overflow: hidden;
    border-radius: 4px;
  }

  .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    border-radius: 4px;
  }
}

.item:hover {
  position: relative;

  .icon {
    transition: transform 0.1s ease-in-out;
    transform: scale(0.8);
  }

}

[content_menu_select=true] {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 101%;
    height: 100%;
    left: -4px;
    border: 2px solid;
    border-radius: 4px;
  }
}

.input {
  background: #ffffff1a;
  box-shadow: none !important;
  border-radius: 2px;
  outline: 0;
  padding-left: 5px;
  font-size: 13px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

[selected=true] {
  background: rgba(255, 255, 255, .1);
}

.list {
  min-width: 240px;
  margin: 2.5vh 0;
  // margin-left: 2.5vh;
}

// margin-top: 38px;
@media screen and (min-width: 0px) and (max-width: 720px) {
  .list {
    min-width: 0px;
    display: none;
    width: 0;
  }
}

[multiple=true],
[content_menu_select=true] {
  // background: ;
  background-color: rgba(255, 255, 255, .1);
}

:host ::ng-deep {
  .mat-mdc-button-touch-target {
    height: 100% !important;
  }
  .mdc-line-ripple{
    display: none;
  }
  .mat-mdc-form-field-infix{
    min-height: 30px !important;
    padding: 0px !important;
  }
  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
    top: 0;
    transform: none !important;
    height: 30px;
    line-height: 30px;


  }
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label{
    color: rgba(255, 255, 255, 0.6);
  }
  .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input{
    min-height: 30px !important;
  }
  .mdc-text-field .mdc-text-field__input{
    caret-color: rgba(255, 255, 255, 0.6);
  }
  .mdc-text-field{
    margin: 0 10px 4px;
    width: calc(100% - 20px) !important;
    border-radius: 4px;
  }
  .mat-mdc-form-field-bottom-align{
    display: none;
  }

  .mat-expansion-panel-header{
    background: transparent !important;
    padding: 0 !important;
    height: fit-content;

  }
  .mat-expansion-indicator{
    display: none;
  }
  .mat-accordion{

  }
  .mat-expansion-panel{
    box-shadow: none !important;
  }
  .mat-expansion-panel-header-title{
    margin-right: 0;
  }
  .mat-expansion-panel-body{
    padding: 0 !important;
  }
  .mat-expansion-panel-header.mat-expanded{
    height: fit-content;
  }
  .mat-expansion-panel-spacing{
    margin: 0 !important;
  }
}
