<mat-drawer-container autosize>
  <div class="container">
    <app-comics-info [info]="data.info" (on_back)="back()" (on_continue)="continue()"></app-comics-info>
    <div class="content">
      <!-- <app-chapter-list-mode1 (on_list)="on_list($event)"
      (on_item)="on_item($event)" class="chapter_list_mode1" [list]="data.chapters"></app-chapter-list-mode1> -->
      <app-chapter-list-mode2 (on_list)="on_list($event)"
      (on_item)="on_item($event)" class="chapter_list_mode1" [list]="data.chapters"></app-chapter-list-mode2>
    </div>
  </div>
</mat-drawer-container>
