.mat-drawer-container {
  width: 100vw;
  height: 100vh;
  background: #424242;
  overflow: hidden;

  .container {
    display: flex;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 8px;
    max-height: 100vh;
    overflow: hidden;
  }

  .container[edit=true] {
    .content {
      margin: 12px;


      .chapter_list_mode1 {
        height: calc(100% - 52px);

      }
    }

    app-comics-info {
      display: none;
      overflow: hidden;
    }

    app-toolbar {
      display: none;
      overflow: hidden;
    }

  }
  app-comics-info {
    transition: all 0.3s;
  }
  app-toolbar {
    transition: all 0.3s;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    // margin-right: 12px;
    transition: all 0.3s;
    border-radius: 4px;
    overflow: auto;
    background: #303030;
    app-chapter-list-mode1,app-chapter-list-mode2 {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

  }

  app-toolbar {
    background: #303030;
    min-width: 36px;
    width: 36px;
    height: 95%;
    margin: 2.5vh 0;
    margin-right: 12px;
    border-radius: 4px;

  }
}
