.warp {

  display: flex;
  flex-direction: column;
  padding: 16px;
  max-height: 70vh;
  overflow: auto;
  justify-content: space-between;
  //

}

.item {
  height: auto;
  width: auto;
  min-width: auto;
  padding: 0;
  background-color: #222222;
}
.index{

    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}
.select {
  ._box {
    border: 3px solid rgba(255, 255, 255, .3);

  }

  ._text {
     background: #c2185b;
  }
}

.select {
  width: fit-content;
  margin: 10px auto;
  zoom: 0.8;
   background: #c2185b;
}

._box {
  zoom: 0.5;
  // transform: scale(0.5);
}

.box2 {
  width: 304px;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #222222;
  // background-color: #e91e63;


  border-radius: 4px;

  .content {
    background-color: #424242;
    width: 220px;
    height: 150px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid #fff;
    // border-radius: 5px;
  }
}


.box {
  width: 304px;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #222222;
  // background-color: #e91e63;

  // transform: scale(0.9);
  border-radius: 4px;

  .left,
  .right {
    background-color: #424242;
    width: 100px;
    height: 150px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid #fff;
    // border-radius: 5px;
  }
}


.box3 {
  border-radius: 4px;
  width: 304px;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;

  // background-color: #222222; transform: scale(0.9);
  .content {
    background-color: #424242;
    min-width: 25px;
    height: 130px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid #fff;
    // border-radius: 5px;
  }
}

.box4 {
  // border-top: 10px solid #222222;
  // border-bottom: 10px solid #222222;
  border-radius: 4px;
  // padding: 10px 0;
  width: 304px;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  // margin: 16px 0;
  // background-color: #222222; transform: scale(0.9);
  .content {
    background-color: #424242;
    width: 220px;
    min-height: 24px;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


:host ::ng-deep {
  app-list {}
}

[theme=dark_blue] {

  .box2 {
    background-color: #21252b;
    filter: brightness(0.9);

    .content {
      background-color: #21252b;
      filter: brightness(0.8);
    }
  }


  .box {
    background-color: #21252b;
    filter: brightness(0.9);

    .left,
    .right {
      background-color: #21252b;
      filter: brightness(0.8);
    }
  }


  .box3 {
    border-left: 3px solid #21252b;
    border-right: 3px solid #21252b;
    background-color: #21252b;
    filter: brightness(0.9);

    .content {
      background-color: #21252b;
      filter: brightness(0.8);
    }
  }

  .box4 {
    border-top: 10px solid #21252b;
    border-bottom: 10px solid #21252b;
    background-color: #21252b;
    filter: brightness(0.9);

    .content {
      background-color: #21252b;
      filter: brightness(0.8);
    }
  }

}
.box1{
  width: 152px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px
}
