<div class="warp">
  <div class="title">
    全部章节({{data.chapters.length}})
  </div>
  <div class="list">
    <button [matTooltipShowDelay]="3000" [matTooltip]="n.title" [id]="'_'+n.id" (click)="on(n)" class="item"
      [attr.select]="n.id==data.chapter_id" [attr.region]="'reader_section'"
      *ngFor="let n of data.chapters;let index=index" mat-button>
      <div class="name" [attr.read]="!!n.read" [attr.current]="n.id==data.chapter_id">
        <span> {{n.title}}</span>
        <mat-icon class="icon" *ngIf="data.is_locked&&n.is_locked">lock</mat-icon>
        <mat-icon class="icon" *ngIf="data.is_locked&&!n.is_locked">lock_open</mat-icon>
      </div>
    </button>
  </div>
</div>
