.mat-drawer-container {
  width: 100vw;
  height: 100vh;
  // background: #424242;
  overflow: hidden;

  .container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .content {
    display: flex;
    width: 100%;
    height: 95%;
    // margin: 2.5vh 0;
    margin-right: 12px;

    .chapter_list_mode1 {
      width: 100%;
    }
  }

  ._reader {
    width: 100%;
    height: 100%;
  }
}
