.warp{
display: flex;
margin: 0 24px;
margin-bottom: 16px;

}
.img{
  width: 240px;
  min-width: 240px;

}
.title{
  color: rgba(232, 230, 227, 0.87);
  font-size: 28px;
  font-weight: 400;
  margin: 0 0 11px;
  line-height: 34px;
  margin: 12px 24px;
  margin-top: 0;
  cursor: pointer;
}
.author{
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  white-space: nowrap;
  color: rgba(232, 230, 227, 0.56);
  margin: 12px 24px;
  cursor: pointer;
}
.sub_title{
  font-size: 18px;
  margin: 24px;
}
.styles{
  margin: 6px 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
  span{
    width: max-content;
  }

}
.intro{
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  white-space: nowrap;
  color: rgba(232, 230, 227, 0.56);
  margin: 12px 24px;

}
.item{
  color: rgba(232, 230, 227, 0.34);
  transition: 0.3s all;
  &:hover{
    color:#c2185b;
  }
}
.item:first{
  margin-left: 4px;
}
.item:last-child{
  .dividing{
    display:none;
  }
}
.toolabr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 24px;
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
:host ::ng-deep {
  .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    border-radius: 4px;
  }

  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    width: 36px;
    height: 36px;
  }

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 30px;
    background: #3c3c3c;
    padding: 0 12px;
    justify-content: end;
  }


}
