<div class="toolabr">

  <button mat-icon-button matTooltipPosition="below" class="icon" [attr.region]="'back'" (click)="back()">
      <mat-icon>chevron_left</mat-icon>
  </button>

</div>
<div class="warp">
  <div class="img">
    <app-image loading="lazy" [width]="info.width" [height]="info.height" [src]="info.cover" alt="" />
  </div>
  <div class="right">
    <div class="info">
      <div class="title">{{info.title}}</div>
      <div class="author" (click)="on(info.author_href)">{{info.author}}</div>
      <div class="styles" *ngIf="info.styles">
        <div class="item" *ngFor="let item of info.styles" (click)="on(item.href)">
          <span class="name">{{item.name}}</span>
          <span class="dividing">,</span>
        </div>
      </div>
      <div class="intro">
        {{info.intro}}
      </div>
    </div>
    <div style="margin: 0 24px;">  <button mat-button [attr.region]="'continue'" id="continue" [attr.select]="true" [attr.default]="true"
    [disabled]="!info.title" (click)="continue()">继续</button>

    </div>

  </div>
</div>
