.list {
  display: flex;
  flex-direction: column;
  width: 100vw;

  transform: scale(1);
  justify-content: top;
  /* align-items: center; */
  margin: 0 auto;
  height: 100%;
  transition: all 0.3s;

  align-items: center;
  overflow: auto;

  app-image {
    width: 50%;
    min-width: 960px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 0px) and (max-width: 1300px) {
  .list {
    app-image {
      width: 100%;
      min-width: 100%
    }
  }
}
