<div class="list">
  <div class="top">
    <button mat-icon-button [attr._id]="'tool_bar_edit'" [attr.region]="'tool_bar'" class="icon" (click)="data.is_edit=!data.is_edit">
      <mat-icon>edit_note</mat-icon>
    </button>
    <!-- <button mat-icon-button [attr._id]="'tool_bar_upload'" [attr.region]="'tool_bar'" class="icon">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button [attr._id]="'tool_bar_view_settings'" [attr.region]="'tool_bar'" class="icon">
      <mat-icon>settings</mat-icon>
    </button> -->
  </div>
</div>
