<div class="detail_section" [attr.hide]="false" (click)="close()" [attr.edit]="data.is_edit">
  <div class="warp">
    <div class="list" [attr.list_type]="'image'" *ngIf="pattern=='image'" [attr.type]="'list'" (click)="on($event)">
      <button class="item" [id]="n.id" [attr._id]="'chapter_item_' + n.id" [attr.region]="'chapter_item'"
        [attr.multiple]="n.selected" [attr.content_menu_key]="'chapter_item'" [attr.content_menu_value]="n.id"
        [matTooltipShowDelay]="5000" [matTooltip]="n.title" mat-button *ngFor="let n of data.chapters;let index=index"
        [attr.index]="index" [attr.current]="data.chapter_id==n.id" [attr.read]="!!n.read">
        <div class="box">
          <div class="img">
            <app-image [objectFit]="'cover'" class="image" loading="lazy" [src]="n.cover" />
            <div class="lock" *ngIf="data.is_locked">
              <mat-icon class="lock_icon" *ngIf="n.is_locked">lock</mat-icon>
              <mat-icon class="lock_icon" *ngIf="!n.is_locked">lock_open</mat-icon>
            </div>
          </div>
          <div class="info">
            <div class="name">
              {{ n.title }}
            </div>
            <div class="buttom">
              <div class="sub_title" *ngIf="n.pub_time">
                {{n.pub_time | date:'YYYY-MM-dd'}}
              </div>
              <!-- <div class="tool">
                <div class="like" *ngIf="n.pub_time">
                  <mat-icon class="item_icon">thumb_up</mat-icon>
                </div>
                <div class="comments" *ngIf="n.pub_time">
                  <mat-icon class="item_icon">comment</mat-icon>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <mat-checkbox class="checkbox" [color]="'primary'" *ngIf="data.is_edit" [(ngModel)]="n.selected"></mat-checkbox>
      </button>
    </div>
    <div *ngIf="pattern=='index'" class="abbreviated" [attr.list_type]="'index'" [attr.type]="'list'" (click)="on($event)">
      <button class="item" [id]="n.id" [attr._id]="'chapter_item_' + n.id" [attr.region]="'chapter_item'"
        [attr.multiple]="n.selected" [attr.content_menu_key]="'chapter_item'" [attr.content_menu_value]="n.id"
        [matTooltipShowDelay]="5000" [matTooltip]="n.title" mat-button *ngFor="let n of data.chapters;let index=index"
        [attr.index]="index" [attr.current]="data.chapter_id==n.id" [attr.read]="!!n.read">
        <span [attr.read]="!!n.read" [attr.current]="data.chapter_id==n.id">
          {{ index + 1 }}
        </span>
      </button>


    </div>
    <div *ngIf="pattern=='title'" class="list" [attr.list_type]="'title'" [attr.type]="'list'" (click)="on($event)">
      <button class="item" [id]="n.id" [attr._id]="'chapter_item_' + n.id" [attr.region]="'chapter_item'"
        [attr.multiple]="n.selected" [attr.content_menu_key]="'chapter_item'" [attr.content_menu_value]="n.id"
        [matTooltipShowDelay]="5000" [matTooltip]="n.title" mat-button *ngFor="let n of data.chapters;let index=index"
        [attr.index]="index" [attr.current]="data.chapter_id==n.id" [attr.read]="!!n.read">
        <span [attr.read]="!!n.read" [attr.current]="data.chapter_id==n.id">
          {{ n.title }}
        </span>
      </button>


    </div>
</div>
