.warp {

  display: flex;
  align-items: baseline;
  /* padding-bottom: 12px; */
  margin: 12px 22px;
  margin-bottom: 0;


}

.title {
  font-size: 24px;
  font-weight: 400;
  // line-height: 32px;
  font-family: Roboto, sans-serif;
  letter-spacing: normal;
  margin-right: 12px;
}

.list {
  display: flex;
  margin-right: 24px;
}
.item{
  display: flex;align-items: center;
}
.item[current=true]{
  color: #c2185b;
}
