// @import 'swiper/css';
:root {
  --double-page-reader-v2-width: 100%;

}
.swiper {
  width: var(--double-page-reader-v2-width);
  height: 100vh;
  overflow: hidden;
  transition: 0.5s all;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

