.warp {

  display: flex;
  align-items: baseline;
  /* padding-bottom: 12px; */
  margin: 12px 22px;
  margin-bottom: 0;
  display: flex;

  // flex-direction: column;

  //   .item[current=false] {
  //     display: block;
  //   }

  //   .item[current=true] {
  //     color: #c2185b;
  //   }

  //   .title {
  //     margin-right: 12px;
  //   }

  //   .list {
  //     margin-right: 24px;
  //   }
}

.title {
  // font-size: 24px;
  // font-weight: 400;
  // line-height: 32px;
  font-family: Roboto, sans-serif;
  letter-spacing: normal;

  text-align: center;
  display: flex;
  align-items: center;
  font-size: 16px;

}

.list {
  display: flex;
  margin-right: 12px;
}

.item {
  margin: 0 3px;
  display: flex;
  align-items: center;
  min-width: fit-content;
}

.item[current=true] {
  color: #fff;
  opacity: 0.87;
}

.item[current=false] {
  display: none;
}
