@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "./app/styles/index.scss";
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  background: #303030;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #424242;
  font-feature-settings: "tnum", "tnum";
  color: rgba(255, 255, 255, 0.87);
  font-size: 14px;
}
.mat-mdc-button-touch-target {
  height: 100% !important;
}
.mat-mdc-menu-item {
  height: 30px !important;
  line-height: 30px !important;
  min-height: 30px !important;

  .mdc-list-item__primary-text {
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-size: 14px;
    font-weight: 400 !important;
  }
}

.menu_item {
  height: 30px !important;
  line-height: 30px !important;
  min-height: 30px !important;

  .mat-mdc-menu-item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-size: 14px;
    font-weight: 400 !important;
  }
}
._comics_select_type{

}

._comics_select_type_bg{

}






// --------
._double_page_thumbnail {
  max-width: none;
  width: 100%;
  height: 100%;
  max-width: none !important;
  // backdrop-filter: blur(4px);

  .mat-mdc-dialog-container .mdc-dialog__surface {
    // background: transparent;
    box-shadow: none !important;
  }
}


.opacity-0 {
  opacity: 0;
}
//
._section {
  .mat-bottom-sheet-container {
    width: 100vw;
  }
}


//

._side_bottom {
  .mat-bottom-sheet-container {
    // max-width: 100% !important;
    // border-radius: 0 !important;
    // padding: 0 !important;
    // height: 100%;
    // max-height: 100% !important;
  }
}
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}
app-image{
  display: block;
}


[opacity_0]{
  filter: brightness(0) invert(1);
}
[opacity_0]::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: ' ';
  background-size: cover;
  background: #303030
}
.swiper-slide {
  background: #303030;
  display: flex;
  justify-content: center;
}
._loading_cover_bg{
  background: rgba(0, 0, 0, 0.32);
  backdrop-filter: brightness(0.5) blur(10px);

}
._loading_cover {
  max-width: none;
  width: 100%;
  height: 100%;
  max-width: none !important;
  // backdrop-filter: blur(4px);

  .mat-mdc-dialog-container .mdc-dialog__surface {
    // background: transparent;
    box-shadow: none !important;
    background: transparent;
  }
}
