<!-- transform: scale(0.8); -->
<div class="warp mode_change">
  <div>
    <button mat-button class="mode_1 flex items-center justify-center flex-col item" [attr._id]="'mode_1'"
      [attr.select]="data.comics_config.reader_mode == 'double_page_reader'"
      [attr.default]="data.comics_config.reader_mode == 'double_page_reader'" [attr.region]="'mode'"
      (click)="change('double_page_reader')">
      <div class="box _box">
        <div class="left"></div>
        <div class="right"></div>
      </div>
    </button>
    <div [class]="data.comics_config.reader_mode == 'double_page_reader' ? 'select' : ''"
      class="index">
      1
    </div>
  </div>

  <div>
    <button mat-button class="mode_2 flex items-center justify-center flex-col item" [attr._id]="'mode_2'"
      [attr.select]="data.comics_config.reader_mode == 'up_down_page_reader'"
      [attr.default]="data.comics_config.reader_mode == 'up_down_page_reader'" [attr.region]="'mode'"
      (click)="change('up_down_page_reader')">
      <div class="box4 _box">
        <div class="content"></div>
        <div class="content" style="min-height: 63px"></div>
        <div class="content"></div>
      </div>
    </button>
    <div [class]="data.comics_config.reader_mode == 'up_down_page_reader' ? 'select' : ''"
      class="index">
      2
    </div>
  </div>

  <div>
    <button mat-button class="mode_3 flex items-center justify-center flex-col item" [attr._id]="'mode_3'"
      [attr.select]="data.comics_config.reader_mode == 'left_right_page_reader'"
      [attr.default]="data.comics_config.reader_mode == 'left_right_page_reader'" [attr.region]="'mode'" (click)="
        change('left_right_page_reader')
      ">
      <div class="box3 _box">
        <div class="content"></div>
        <div class="content" style="min-width: 100px"></div>
        <div class="content" style="min-width: 100px"></div>
        <div class="content"></div>
      </div>
    </button>
    <div [class]="data.comics_config.reader_mode == 'left_right_page_reader' ? 'select' : ''"
      class="index">
      3
    </div>
  </div>

  <div>
    <button mat-button class="mode_4 flex items-center justify-center flex-col item" [attr._id]="'mode_4'"
      [attr.select]="data.comics_config.reader_mode == 'one_page_reader'"
      [attr.default]="data.comics_config.reader_mode == 'one_page_reader'" [attr.region]="'mode'"
      (click)="change('one_page_reader')">
      <div class="box2 _box">
        <div class="content"></div>
      </div>
    </button>
    <div [class]="data.comics_config.reader_mode == 'one_page_reader' ? 'select' : ''"
      class="index">
      4
    </div>
  </div>
</div>
